.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 200px));
  gap: 20px;
  justify-content: center;
  background-color: #fff;
  padding: 40px 0px;
  border-radius: 0px 0px 10px 10px;

  margin-left: 50px;
  margin-right: 50px;
}

.add-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 3px dashed rgb(218, 213, 213);
  border-radius: 10px;
  cursor: pointer;
}

.add-image img {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}