.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 200px));
  gap: 20px;
  justify-content: center;
  background-color: #fff;
  padding: 40px 0px;
  border-radius: 0px 0px 10px 10px;

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.add-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 3px dashed rgb(218, 213, 213);
  border-radius: 10px;
  cursor: pointer;
}

.add-image img {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}
@media (max-width: 1400px) {
  .image-gallery {
    padding-left: 15px;
    padding-right: 15px;
  }
  .add-image {
    width: 180px;
    height: 185px;
  }
  
}
@media (max-width: 1200px) {
 
  .add-image {
    width: 150px;
    height: 150px;
  }
  .add-image img{
    margin-bottom: 5px;
  }
}
@media (max-width: 1024px) {
  .image-gallery {
    grid-template-columns: repeat(3, minmax(50px, 100px));
   
  }
  .add-image {
    width: 100px;
    height: 100px;
  }
  .add-image p{
    font-size: 11px !important;
  }
}
@media (max-width: 479px) {
  .image-gallery {
    grid-template-columns: repeat(2, minmax(50px, 100px));
    margin-left: 5px;
    margin-right: 5px;
  }
  .add-image p{
    font-size: 9px !important;
  }
}
@media (max-width: 320px) {
  .add-image {
    width: 80px;
    height: 80px;
  }
  .add-image p{
    font-size: 10px;
  }
  .add-image img{
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
  }
}